#btn4 {
  margin-left: 750px;
  font-size: 3rem;
  margin-top: -90px;
}

#btn1 {
  font-size: 3rem;
  margin-left: 600px;
  margin-top: -53px;
}

#btn2 {
  font-size: 3rem;
  margin-left: 650px;
  margin-top: -91px;
}

#btn3 {
  margin-left: 700px;
  font-size: 3rem;
  margin-top: -90px;
}

#btn5 {
  margin-top: -57px;
  margin-left: 800px;
  transform: translate(-25%);
  color: rgb(136, 136, 136);
  text-align: center;
  width: 20px;
  border-radius: 50%;
  border: solid 1px;
  height: 20px;
  font-size: 0.65rem;
}

@media screen and (max-width: 400px) {
  #btn4 {
    margin-left: 250px;
    font-size: 3rem;
    margin-top: -90px;
  }

  #btn1 {
    font-size: 3rem;
    margin-left: 100px;
    margin-top: -20px;
  }

  #btn2 {
    font-size: 3rem;
    margin-left: 150px;
    margin-top: -91px;
  }

  #btn3 {
    margin-left: 200px;
    font-size: 3rem;
    margin-top: -90px;
  }

  #btn5 {
    margin-top: -57px;
    margin-left: 300px;
    transform: translate(-25%);
    color: rgb(136, 136, 136);
    text-align: center;
    width: 20px;
    border-radius: 50%;
    border: solid 1px;
    height: 20px;
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 400px) {
}

@media screen and (min-width: 401px) and (max-width: 600px) {
}
